@model GlobalMarket.ViewModels.CategoriesViewModel
           
 @foreach (string category in Model.categories)
   {
     <li class="nav-item"style="padding-right:15px">@Html.ActionLink(category, "CategoryProducts", "Category",new { CategoryName = category},null)</li>
}
       


