@model GlobalMarket.ViewModels.OrdersViewModel
@{
    ViewBag.Title = "MyOrders";
}

<div style="margin-top:10rem">
    <h2>My Orders</h2>
    <div class="row">
        @foreach (var order in Model.Orders)
        {

            <div class="col-md-12">
                <a href="@Url.Action("GetOrder","Order", new {OrderID = order.ID })">
                    <h4>@order.OrderDate.ToString("dd/MM/yyyy")</h4>
                    <p><b>Total : </b>$@order.TotalAmount</p>
                    <p><b>Status : </b>@order.Status</p>
                    <hr />
                </a>
            </div>
            <hr />
        }
    </div>
</div>

