
@{
    ViewBag.Title = "Success";
}

<div style="margin-top:10rem">
    <div class="alert alert-success" role="alert">
        Registration was Successfull !
    </div>
    <p>@Html.ActionLink("Login", "Login", "Login")</p>
</div>
